body {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #47232d;
}
 header { /* aqui aparecen las plantitas */
    text-align: center;
    letter-spacing: 18px;
    font-size: 2.5em;
    position: fixed;/* se quede estatico */
    justify-content:center;
    height: 2.1em;
    padding: 10px;
    width: 100vw;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://ca-times.brightspotcdn.com/dims4/default/6bf9f98/2147483647/strip/true/crop/2300x1533+239+0/resize/2400x1600!/format/webp/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F84%2Fb0%2F49361759414d8935d078531cc9c9%2Fghi-totoro-select04.jpg");
}
.navegacion-principal{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: .5rem;/* distancia */
    transition: 0.7s;
    margin:4rem 0;
    background-color: #B4C8C0;
}
button,select {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    
}
button,
select{
    background-color: #B4C8C0;
    color: #1F2124;
    width: 13rem;
    text-align: center;
    padding: .7em 0;
    font-size: 1.0em;
    font-weight: 600;
    text-transform: uppercase;
}
button:hover,
select:hover{
    background-color: #AABBB4;
    border-bottom: 4px solid  rgb(183, 135, 48);
}
.section2 {
    height: 50px;
    width: 100px;
}
li {
    float: left;
    border: 0.4em solid #DCB761;
    background-color: #B17261;
    color: #1F2124;
    height: 38.125em;
    width: 25em;
    padding: 0.625em;
    margin: 2.5em 1.25em;
    text-align: left;
    list-style: none;
    font-size: 1em;
}
img {
    width: 220px;
    height: 300px;
    padding: 10px;
    float: right;   
}

.flyer { 
    float: left;
    object-fit: cover;   /* sirve para que las imagenes no se aplasten*/
    width: 330px;
    height: 520px;
}

ol {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
        width: 100%;
        gap: 30px;
}

.mainCharacters{
    background-color: #B4C8C0;
    border: 0.75em solid #B17261;
    color: #1F2124;
    height: 23em;
    width: 28%;
    padding: 1.25em;
    margin: 2.5em 1.25em;
    float: left;
    text-align: left;
    font-size: small;
    border-image-width: 6.25em;
    display: flex;
    flex-direction: column;
  }
  
  .mainCharacters img {
    width: 12.5em;
    height: auto;
  }
  .mainCharacters p {
    font-size: 1em; 
    margin: 0.5em; 
}
#peliculas-list{
    display: flex;
    flex-wrap: wrap; 
}
li{
    display: flex;
    flex-wrap: wrap; 
    
}
.texto{
    font-size: smaller;
}